@media (max-width: 800px) {
  .d-item {
    width: 95%;
    margin: 0 auto 0 auto;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .d-item {
    width: 82%;
    margin: 0 auto 0 auto;
  }
}
@media (min-width: 1200px) {
  .d-item {
    width: 950px;
    margin: 0 auto 0 auto;
  }
}

body {
  background-color: rgb(247, 247, 247);
}

.d-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Kumbh Sans", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*Ask Question top*/
.d-item-ask-model {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.032);
  background-color: white;
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.d-ask-head {
  padding: 0px 0px 20px 0px;
  font-size: 110%;
  font-weight: 600;
}
.d-ask-model {
  margin-left: auto;
}
/**/
/*Question*/
.d-ques {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.032);
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  border: 1px solid #fafafa;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 10px;
}
.d-item-ques {
  grid-column: 1/4;
  padding-bottom: 10px;
}
.d-ques-owner {
  font-size: 70%;
  color: #727272;
}
.d-ques-answers {
  text-align: end;
}
/**/
