@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Nunito:wght@300;400;600&family=Work+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&family=Nunito:wght@300;400;600;800;900&family=Secular+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Sans-serif";
}

.body-container {
  max-width: 1100px;
  width: 90%;
  margin: 20px auto;
}
.heading-0 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Poppins", "Sans-serif";
  margin: 1em 0em;
  color: black;
}
.heading-1 {
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins", "Sans-serif";
  margin: 0.8em auto;
  border-bottom: 1px solid #dadada;
  width: 350px;
  color: black;
}
.highlighted-text {
  font-weight: 700;
}
